@import "common";

.todoList_container {
  height: 100vh;
  margin: 2rem;
}

.titleSection {
  background-color: $background;
  border-radius: 10px;
  padding: 1rem;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 1.5rem;
      font-weight: 700;
      color: $fontcolor1;
    }
    .addBtn button {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      background-color: $blue1;
      border: none;
      border-radius: 50%;
      color: $fontcolor2;
      transition: transform 0.3s ease-in-out;
      &:focus {
        outline: none;
      }
      &.rotate {
        transform: rotate(45deg);
      }
    }
  }
}

.inputContainer {
  display: none;
  margin-top: 1rem;
  input {
    outline: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  &.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.category_inputWrap {
  display: flex;
  gap: 1rem;
  button {
    border: none;
    background-color: $blue2;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
}

.column {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.categorySection {
  padding: 1rem;
  background-color: $background;
  border-radius: 10px;
  height: 70vh;
  width: 20%;
  .category {
    display: flex;
    flex-direction: column;
    .categoryItemWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      padding: 5px;
      color: gray;
      cursor: pointer;
      flex-grow: 1;
    }
    .active {
      color: $fontcolor1;
      background-color: $blue2;
      border-radius: 5px;
      font-weight: 600;
    }
    .categoryDelete {
      cursor: pointer;
      margin-left: 0.5rem;
      color: $blue2;
      &:hover {
        color: $blue1;
      }
    }
  }
  p.categoryNone {
    font-size: 14px;
    color: $fontcolor1;
    text-align: center;
  }
}
