@import "common";

.taskSection {
  width: 100%;
  padding: 1rem;
  background-color: $background;
  border-radius: 10px;
  height: 70vh;
  .categoryWrap {
    padding: 1rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      margin: 0 1rem;
      font-size: 2rem;
      font-weight: 600;
      color: rgb(70, 70, 70);
    }
    .taskAdd {
      display: flex;
      align-items: center;
      input {
        width: 25rem;
        outline: none;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-right: 0.5rem;
      }
      button {
        width: 2.9rem;
        height: 2.2rem;
        border: none;
        background-color: $blue2;
        color: white;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .line {
    margin-bottom: 1rem;
    border: 2px solid lightgray;
    width: 100%;
  }
}

.tabWrap {
  display: flex;
  align-items: flex-end;
}

.tabContainer {
  filter: drop-shadow(5px 0px 1px rgba(0, 0, 0, 0.4));
}

.tabStyle {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 2rem;
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 3px;
  gap: 1rem;
  cursor: pointer;
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
  &.active {
    background-color: $blue2;
    border-bottom: 1px solid white;
    z-index: 2;
  }
}

.taskNum {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: $blue1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.task_container,
.taskNone {
  background-color: $blue2;
  display: flex;
  align-items: center;
}

.taskNone {
  margin: 0;
  padding: 2rem;
}

.taskWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 1rem;
}

.taskContent {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 10rem;
  p {
    margin: 0;
    word-break: break-all; // 긴 단어를 줄 바꿈
  }
}

.taskBtnWrap {
  display: flex;
  gap: 10px;
  padding: 1rem;
  align-items: center;
}

.taskBtnStyle {
  background-color: $blue2;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
}
