//----------------캘린더 관련-----------------\\

.react-calendar {
  background-color: white;
  border: none;
}

//요일 밑줄 없애기
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

//년단위 버튼 없애기
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

//월 년 navigate
.react-calendar__navigation {
  justify-content: center;
}
