//----------------캘린더 관련-----------------\\

.react-calendar {
  background-color: white;
  border: none;

  button {
    background-color: white;
    border: none;
    justify-content: left;
  }
}

// 요일 밑줄 없애기
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

// 년단위 버튼 없애기
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

// 월 년 navigate
.react-calendar__navigation {
  justify-content: center;
}

// 해당 월의 날짜가 아닐 경우 투명도 설정
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.2;
}

// 일요일에만 빨간 글씨
.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
  color: red;
}

// 오늘 날짜 폰트 컬러
.react-calendar__tile--now {
  border: 1px solid gray;
}
