@import "./common.scss";

.ScheduleAdd {
  height: 556px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  .schedule_cont {
    display: inline-block;
    clear: both;
    width: 731px;
    padding: 0 14px 70px;
  }
}
