@import "../common.scss";

.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid $borderline2;
  .subTitle {
    display: flex;
    button {
      background-color: white;
      border: 1px solid $borderline2;
      padding-top: 5px;
    }
  }
  .enterPage {
    padding: 0 1rem;
    .addSchedule {
      font-size: 14px;
      font-weight: $fontWeight2;
    }

    .backBtn {
      position: relative;
      display: inline-block;
      font-size: 13px;
      color: gray;
      vertical-align: top;
      padding-left: 15px;
      margin: 3px 0 0 9px;
      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 5px;
        width: 1px;
        height: 12px;
        background-color: #999;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .saveBtn {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
    font-weight: $fontWeight1;
    background-color: white;
    border: 1px solid $borderline2;
    .icon {
      color: $maincolor;
    }
  }
}
